<template-produtor-min (updated)="onInsereProdutor($event)"></template-produtor-min>
<div class="col-12" [formGroup]="producaoForm">
  <div class="row mb-3">
    <div class="col-9">
      <pesquisa-producao-autocomplete [inputObject]="itemProduzido" (updated)="onSelecionaProducao($event)"></pesquisa-producao-autocomplete>

    </div>

    <div class="col-3">
        <label for="data-producao" class="form-label">data da Producao</label>
        <input type="date" onclick="this.select()" class="form-control" id="data-producao"
          placeholder="informe a data da aquisição da renda" formControlName="dataProducao">
      </div>
  </div>
    <div class="row">
      <div class="col-5">
          <label for="descricao" class="form-label">Descrição</label>
          <input type="text" onclick="this.select()" class="form-control" id="descricao"
            placeholder="descreva a fonte de renda" formControlName="descricao">
        </div>
        <div class="col-3">
            <label for="quantidade" class="form-label">Quantidade produzida anualmente</label>
            <input type="number" onclick="this.select()" class="form-control" id="quantidade"
              placeholder="informe a quantidade" formControlName="quantidade">
          </div>
        <div class="col-3">
            <label for="valor-unitario" class="form-label">Valor unitário</label>
            <input type="nunber" onclick="this.select()" class="form-control" id="valor-unitario"
              placeholder="informe o Valor unitário" formControlName="valorUnitario">
          </div>
    </div>
</div>
<button class="btn btn-primary m-5" (click)="insereItemDeProducao()">Inserir renda</button>

<template-table-produtors  [inputProdutores]="produtores"></template-table-produtors>
<template-table-producao [inputProducao]="producoes" (updated)="onRemoveProducao($event)"></template-table-producao>
<button class="btn btn-primary m-5" (click)="insereProducao()">Registrar renda</button>