<header-auth></header-auth>
<div class="row m-2 d-flex justify-content-center">
    <div class="card" (click)="hmanCalc()">
        <img src="../../../../assets/320x200/producao-pec.png" class="card-img-top m-1" alt="Registro de visitas">
        <div class="card-body">
            <h5 class="card-title">Perda de carga</h5>
            <p class="card-text">Calculadora que auxilia no cálculo da perda de carga de tubulações.</p>
            <div class="btn btn-primary">acessar</div>
        </div>
    </div>

    <div class="card" (click)="piquetesCalc()">
        <img src="../../../../assets/320x200/producao-pec.png" class="card-img-top m-1" alt="Registro de visitas">
        <div class="card-body">
            <h5 class="card-title">Pastagem</h5>
            <p class="card-text">Auxilian no dimensionamento de piquetes em sistema de pastejo rotacionado.</p>
            <div class="btn btn-primary">acessar</div>
        </div>
    </div>
    <div class="card" (click)="capineiraCalc()">
        <img src="../../../../assets/320x200/producao-pec.png" class="card-img-top m-1" alt="Registro de visitas">
        <div class="card-body">
            <h5 class="card-title">Capineira/Canavial</h5>
            <p class="card-text">Auxilia no dimensionamento de capineiras e canaviais.</p>
            <div class="btn btn-primary">acessar</div>
        </div>
    </div>
</div>