<div class="loading" *ngIf="loading">
  <img src="../../../../assets/Loading.gif" alt="">
</div>
<div class="container-fluid">
  <div class="col-12" [formGroup]="visitaForm">
    <div class="row g-3">
      <div class="col-12 form-check">
        <input class="form-check-input" type="checkbox" id="criar-pasta" formControlName="createFolder">
        <label class="form-check-label" for="gridCheck">
          Criar pasta para atendimento
        </label>
      </div>
      <div class="row">
        <div class="col-9">
          <label for="local-do-atendimento" class="form-label">Local do Atendimento</label>
          <input type="text" class="form-control" id="local-do-atendimento" placeholder="Fazenda, Sitio..."
            formControlName="localDoAtendimeno">
        </div>
        <div class="col-3">
          <label for="data-da-visita" onclick="this.select()" class="form-label">Data da visita</label>
          <input type="date" class="form-control" pattern="\d{4}-\d{2}-\d{2}" id="data-da-visita"
            placeholder="19/06/2020" formControlName="dataDaVisita">
        </div>
      </div>
    </div>

    <div class="col-12 text-muted d-flex justify-content-center">
      <h5>
        <strong>Informações sobre o produtor atendido</strong>
      </h5>
    </div>
    <div class="border m-2 pb-2 row" [formGroup]="produtoresForm">
      <div class="col-md-3">
        <label for="cpf-do-produtor" class="form-label">CPF</label>
        <input type="text" (change)="verificarProdutor($event)" onclick="this.select()" class="form-control"
          id="cpf-do-produtor" formControlName="cpf" mascara="999.999.999-99">
      </div>
      <div class="col-md-5">
        <label for="nome-do-produtor" class="form-label">Nome</label>
        <input type="text" onclick="this.select()" class="form-control" id="nome-do-produtor" formControlName="nome">
      </div>
      <div class="col-4 d-flex align-items-end">
        <button title="" class="btn btn-primary" (click)="incluirProdutor($event)" [disabled]="!produtoresForm.valid">
          <span><span class="fas fa-user-plus"></span></span> Incluir
        </button>
      </div>
    </div>
    <div class="col-12 text-muted d-flex justify-content-center">
      <h5>
        <strong>Informações sobre o serviço prestado</strong>
      </h5>
    </div>
    <div class="border m-2 pb-2 row" [formGroup]="servicosForm">
      <div class="col-8">
        <search-servicos [servico]="servico" (atualizouServico)="onSelecionaServico($event)"></search-servicos>
      </div>
      <div class="col-4">
        <search-tecnico-auto-complete [inputObject]="tecnicoResponsavel" (updated)="onSelecionaTecnico($event)">
        </search-tecnico-auto-complete>
      </div>
      <div class="col-12">
        <label for="descricao-do-servico" class="form-label">Descrição do serviço</label>
        <input type="text" onclick="this.select()" class="form-control" id="descricao-do-servico"
          placeholder="Elaboração de laudo de vistoria para acesso a crédito rural" formControlName="servicoPrestado">
      </div>
      <div class="col-12">
        <label for="ocorrencia" class="form-label">Ocorrência</label>
        <input type="text" onclick="this.select()" class="form-control" id="ocorrencia" placeholder="***"
          formControlName="ocorrencia">
      </div>
      <div class="row mt-2">
        <div class="col-2">
          <label for="valor-do-servico" class="form-label">Valor do serviço</label>
          <input type="number" onclick="this.select()" class="form-control" id="valor-do-servico" placeholder="150"
            formControlName="valor">
        </div>
        <div class="col-4 d-flex align-items-end">
          <button title="" class="btn btn-primary" (click)="incluirServico($event)" [disabled]="!servicosForm.valid">
            <span><span class="fas fa-mug-hot"></span></span> Incluir
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label for="situacao-atual" class="form-label">Situação atual</label>
      <textarea type="text" onclick="this.select()" class="form-control texto" id="situacao-atual"
        placeholder="O produtor reclama que a vaca dá pouco leite" formControlName="situacaoAtual"></textarea>
    </div>
    <div class="col-12">
      <label for="orientacoes" class="form-label">Orientações</label>
      <textarea type="text" onclick="this.select()" class="form-control texto" id="orientacoes"
        placeholder="Administrar o suao de suplementação alimentar e disponibilizar água de qualidade"
        formControlName="orientacao"></textarea>
    </div>
    <div class="col-12">
      <label for="recomendaoes" class="form-label">Recomendações</label>
      <textarea type="text" onclick="this.select()" class="form-control texto" id="recomendaoes"
        placeholder="Suplementar com ração 18% PB" formControlName="recomendacao"></textarea>
    </div>
    <div class="col-md-4">
      <label for="municipio" class="form-label">Cidade</label>
      <select id="municipio" class="form-select mb-2" formControlName="municipio">
        <option *ngFor="let mn of municipios" value="{{mn.nome}}">{{mn.nome}}</option>
      </select>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <template-table-produtors [inputProdutores]="produtores"></template-table-produtors>
    </div>
    <div class="col-6">
      <template-table-servicos [inputChamadas]="chamadas"></template-table-servicos>
    </div>
  </div>
</div>
<div class="col-12">
  <button class="btn btn-primary" (click)="registrarVisita()" [disabled]="!visitaForm.valid">Registrar</button>
</div>