<div class="waitingForConnection text-warning" *ngIf="percentualAgro()<50 && getRendaTotal() > 0">Produtor não enquadra no PRONAF!!!</div>
<div>
  <strong>
    Renda total: {{ getRendaTotal() | currency: 'BRL'  }}
  </strong>
</div>
<div class="row">
  <div class="col-6">
    <strong>
      Renda Agropecuária({{ percentualAgro() | number: '1.0-0' }}%): {{ getRendaAgro() | currency: 'BRL'  }}
    </strong>
  </div>
  <div class="col-6">
    <strong>
      Renda Não Agropecuária: {{ getRendaNAgro() | currency: 'BRL'  }}
    </strong>
  </div>
</div>
<table class="col-6 table">
    <thead>
      <tr>
        <th></th>
        <th>Item produzido</th>
        <th>Qtd anual</th>
        <th>Valor unitário</th>
        <th>Valor total</th>
      </tr>
    </thead>
    <tbody *ngIf = "!inputProducao.length">
      <th class="text-danger" colspan="5">
        Não esqueça de informar a fonte de renda!
      </th>
    </tbody>
    <tbody>
      
      <tr *ngFor="let rnd of inputProducao">
        <td>
          <button type="button" class="btn btn-danger btn-sm btn-custom" (click)="removerProducao(rnd, $event)">
            <i class="far fa-calendar-times"></i>
          </button>
        </td>
        <td>{{rnd.descricao}}</td>
        <td>{{rnd.quantidade}}</td>
        <td>{{rnd.valorUnitario}}</td>
        <td>{{ getTotalProducao(rnd) | currency: 'BRL'  }}</td>
      </tr>
    </tbody>
  </table>