<div class="loading" *ngIf="loading">
  <img src="../../../../../assets/Loading.gif" alt="">
</div>
<div class="col-12 text-muted d-flex flex-column justify-content-center align-items-center b-1 mb-5">
  <h5>{{TEMPLATE_TITLE}}</h5>
  <small>
    {{TEMPLATE_SUB}}
  </small>
</div>
<div class="container">
  <div class="col-12" [formGroup]="visitaForm">
    <div class="row g-3">
      <div class="row">
        <div class="col-9">
          <label for="local-do-atendimento" class="form-label">Local do Atendimento</label>
          <input type="text" class="form-control" id="local-do-atendimento" placeholder="Fazenda, Sitio..."
            formControlName="localDoAtendimeno">
        </div>
        <div class="col-3">
          <label for="data-da-visita" onclick="this.select()" class="form-label">Data da visita</label>
          <input type="date" class="form-control" pattern="\d{4}-\d{2}-\d{2}" id="data-da-visita"
            placeholder="19/06/2020" formControlName="dataDaVisita">
        </div>
      </div>
    </div>

    <div class="col-12 text-muted d-flex justify-content-center mt-2">
      <h5>
        <strong>Informações sobre o produtor atendido</strong>
      </h5>
    </div>
    <div class="border m-2 pb-2 row" [formGroup]="produtoresForm">
      <div class="col-md-3">
        <label for="cpf-do-produtor" class="form-label">CPF</label>
        <input type="text" (change)="verificarProdutor($event)" onclick="this.select()" class="form-control" id="cpf-do-produtor" formControlName="cpf"
          mascara="999.999.999-99">
      </div>
      <div class="col-md-5">
        <label for="nome-do-produtor" class="form-label">Nome</label>
        <input type="text" onclick="this.select()" class="form-control" id="nome-do-produtor" formControlName="nome">
      </div>
      <div class="col-4 d-flex align-items-end">
        <button title="" class="btn btn-primary" (click)="incluirProdutor($event)" [disabled]="!produtoresForm.valid">
          <span><span class="fas fa-user-plus"></span></span> Incluir
        </button>
      </div>
    </div>


    <div class="col-md-4">
      <label for="municipio" class="form-label">Cidade</label>
      <select id="municipio" class="form-select mb-2" formControlName="municipio">
        <option *ngFor="let mn of municipios$ | async" value="{{mn.nome}}">{{mn.nome}}</option>
      </select>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th class="col-3">CPF</th>
      <th class="col-9">Nome</th>
    </tr>
  </thead>
  <tbody *ngIf = "!hasProdutores()">
    <th class="text-danger" colspan="3">
      Não esqueça de informar os produtores atendidos!
    </th>
    
  </tbody>
  <tbody *ngIf = "hasProdutores()">
    <tr *ngFor="let prd of produtores">
      <td>
        <button type="button" class="btn btn-danger btn-sm btn-custom" (click)="removerProdutor(prd, $event)">
          <i class="far fa-calendar-times"></i>
        </button>
      </td>
      <td>{{prd.cpf}}</td>
      <td>{{prd.nome}}</td>
    </tr>
  </tbody>
</table>
<div class="col-12">
  <button class="btn btn-primary" (click)="registrarServico($event)" [disabled]="!visitaForm.valid">Registrar</button>
</div>