<h5>Gerenciar visitas</h5>
<mat-accordion>
    <div *ngFor="let vs of dataSource">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{vs.datavisita |  date: 'dd/MM/yyyy'}}
                        {{vs.localvisita}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{vs.statusvisita}}
                        - Resp: {{vs.tecnicoresp}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <button class="mat-mini-fab col-1" (click) = incluirChamada(vs.codvisita)>
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <p class="col-11">{{vs.servicoprestado}}</p>
                </div>
            </mat-expansion-panel>
        </div>
</mat-accordion>