<div class="container-fluid col-12">
  <div class="row agro-header text-white">
    <div class="row">
      <h1 class="moon">JP-Agrodata</h1>
    </div>
    <div class="row">
      <small class="sky">Sistema de monitoramento de atividades e projetos</small>
    </div>
  </div>
  <div class="row d-flex flex-sm-row-reverse justify-content-center align-items-center">
    <img src="../../../../assets/320x200/pastagem-preparo-de-solo.png">
    <img src="../../../../assets/320x200/progenetica.png">
    <img src="../../../../assets/320x200/producao-pec.png">
    <div class="form d-flex justify-content-center align-items-center">
      <form [formGroup]="form"  class="login-form p-3  border"  novalidate>
        <div class="form-group" >
          <div>
            <div>
              <label class="text-light">
                Usuário:
              </label>
              <input class="form-control" type="text" formControlName="login">
            </div>
          </div>
          <div>
            <div>
              <label class="text-light">
                Senha:
              </label>
              <input class="form-control" type="password" formControlName="senha">
            </div>
          </div>
        </div>
        <div>
          <div class="d-flex justify-content-center align-items-center">
            <button mat-raised-button color="primary" class="text-light mt-3" type="button" (click)="logar()"
              [disabled]="!form.valid">acessar</button>
          </div>
        </div>
      </form>     
    </div>   
  </div>