<div class="container form-gate">
  <div class="row">
    <div class="agro-header text-white">
      <div class="row">
        <div class="col-3">
          <h1 class="moon">JP-Agrodata</h1>
        </div>
        <small class="sky">Sistema de monitoramento de atividades e projetos</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col form-group alert alert-danger" role="alert" *ngIf="status == 404 || status == 403">{{loginmessage}}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-9 banner">
      <h5 class="text-light">
        Gerenciar atividades e projetos executados por este escritório.
      </h5>
      <img src="../../../../assets/320x200/pastagem-preparo-de-solo.png">
      <img src="../../../../assets/320x200/progenetica.png">
      <img src="../../../../assets/320x200/producao-pec.png">
    </div>
    <div class="col-3 login-form justify-content-md-center">

        <div class="p-2">
          <form [formGroup]="form" class="border" novalidate>
            <div class="form-row p-2">
              <div class="col">
                <div class="row p-3">
                  <label class="text-light">
                    Usuário:
                  </label>
                  <input type="text" formControlName="login">
                </div>
              </div>
              <div class="col">
                <div class="row p-3">
                  <label class="text-light">
                    Senha:
                  </label>
                  <input type="password" formControlName="senha">
                </div>
              </div>
            </div>
            <div class="row p-2">
              <div class="col mt-3 d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-primary" type="button" (click)="logar()" [disabled]="!form.valid">acessar</button>
              </div>
            </div>
          </form>
        </div>

    </div>
  </div>
</div>