<div class="container">
    <div class="logo">
        <img src="../../../../assets/agro-logo.png" height="30" class="d-inline-block align-top" alt="">
    </div>
    <h5 class="mt-1">JP - Agrodata</h5><small>V02.2021</small>
    <div class="row">
        <div class="col-sm">
        </div>
        <!-- Dados do usuario -->
        <div class="col-sm">
            <div class="row d-flex flex-reverse">
                <div class="col-10 d-flex d-flex justify-content-end">{{nome}}</div>
                <button type="button" class="col-2 m-2px btn btn-outline-primary btn-sm" (click)="logout()">
                    Logout</button>
            </div>
        </div>

    </div>
</div>