<header class="agro-header text-white">
  <div class="container">
    <div class="">
      <div class="row justify-content-end">
        <h1 class="moon dark-text">DARK<small class="moon demeter-text"><i>deméter</i></small></h1>
        <small class="moon" style="margin-top: -15px;">Sistema de monitoramento de atividades e projetos</small>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-sm-between align-items-baseline">
        <!-- Dados do usuario -->
        <div>
          {{ nome }}
          <button data-toggle="tooltip" class="btn " matTooltip="Você tem {{callNumber}} serviços para concluir" (click)="conferirChamadas()" *ngIf="callNumber > 0">
            <span class="badge badge-pill text-danger bg-warning badge-warning">{{ callNumber }}</span>
          </button>
        </div>
        <div>
          <button type="button" matTooltip="Sair do sistema" class="col-1 btn " (click)="logout()">
            <span class="d-flex justify-content-start">
              <i class="fas fa-door-open text-light"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="row menu">
      <div class="col-1 d-flex justify-content-start">
        <button type="button" matTooltip="Ir para tela inicial" class="col-1 btn " (click)="home()">
          <span class="d-flex justify-content-start">
            <mat-icon aria-hidden="false" class="text-light">home</mat-icon>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>