   
.farm {text-shadow: 0 0 0.2em #8F7}
.moon {text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87}
.sky {text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,0 0 0.2em #87F}

.agro-header{
    background: linear-gradient(to right,rgb(90, 120, 110), #4e76e3);
    /*
    font-family: 'Roboto', sans-serif;
    */
}
.dark-text{
    font-family: 'Syne Mono', monospace;

}
.demeter-text{
    font-family: 'Encode Sans Semi Expanded', sans-serif;

}
picture{
    display: flex;
    justify-content: center;
}
picture>img{
    margin-top: 5px;
    width: 100%;
    padding: 1px;
    border-radius: 10px;
}
header{
    background-color: #87f;
}

main{
    min-height: calc(100vh - 90px - 50px - 30px);
    background-color: rgb(182, 215, 238);
}
footer{
    background-color: rgb(32, 32, 32);
    height: 90px;
}
footer > nav{
    font-size: small;
}
ul{
    overflow: hidden; /* apenas para evitar o height 0 causado pelo float */
}
li{
    list-style-type: none;
    display: inline;
    float: left;
    margin-right: 80px;
}
li > i{
    margin-right: 5px;
}
.menu{
    border-top: solid 1px white;
    border-radius: 20px 20px 0px 0px;

}
