<div class="row m-2 d-flex justify-content-around">
    <div class="card">
        <img src="../../../../assets/320x200/producao-pec.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Registro de visitas</h5>
            <p class="card-text">Registro de visitas e atendimentos.</p>
            <a href="/visitas/cadastrar" class="btn btn-primary">Registrar visita</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/kit-horta.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">KIT HORTA</h5>
            <p class="card-text">Registro de beneficiarios de 01 kit horta referente a Emenda parlamentar</p>
            <a href="/visitas/conv-um-emater" class="btn btn-primary">Registrar</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/milho.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sementes de Milho</h5>
            <p class="card-text">Registro de beneficiarios de 01 saco de 10 Kg de milho referente a Emenda parlamentar</p>
            <a href="/visitas/conv-dois-emater" class="btn btn-primary">Registrar</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/dap-emissao.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Emissão de DAP</h5>
            <p class="card-text">Atendimenteo em emissão/renovação de Declaração de aptidão a unidade fammiliar.</p>
            <a href="/visitas/dap-emissao" class="btn btn-primary">Registrar</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/dap.jpg" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Desbloqueio de DAP</h5>
            <p class="card-text">Atendimenteo em desbloqueio de Declaração de aptidão a unidade fammiliar.</p>
            <a href="/visitas/dap-dbl" class="btn btn-primary">Registrar</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/feijao.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sementes de Feijão</h5>
            <p class="card-text">Registro de beneficiarios de 01 saco de 10 Kg de milho referente a Emenda parlamentar</p>
            <a href="/visitas/conv-tres-emater" class="btn btn-primary">Registrar</a>
        </div>
    </div>
</div>
<div class="container-prefeitura">
    <div class="panel-car">
        <div class="row m-2 d-flex justify-content-around">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Emissão de CAR</h5>
                    <p class="card-text">Emissão de Cadastro ambiental rural</p>
                    <a href="/visitas/cadastrar-car-emissao" class="btn btn-primary">Registrar</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Retificação de CAR</h5>
                    <p class="card-text">Refificar registro de Cadastro ambiental rural</p>
                    <a href="/visitas/cadastrar-car-retificar" class="btn btn-primary">Registrar</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">2º Via de CAR</h5>
                    <p class="card-text">Emissão 2ª via de Cadastro ambiental rural</p>
                    <a href="/visitas/cadastrar-car-segundavia" class="btn btn-primary">Registrar</a>
                </div>
            </div>
        </div>
    </div>
</div>