.card{

 
}
div .card:hover{
    
    box-shadow: 5px 10px #888888;
}
div .card{
    width: 18rem;
}
.container-prefeitura{

}

.container-prefeitura .card{

}

.card-body{

}
.card-title{

}
.card-text{

}

.panel-car{

}
.container-prefeitura  div .card{

}
img{
    width: 16rem;
    height: 175px;
}
.container-prefeitura .card{

}

div .card{
    width: 18rem;
}