<services-template 
SERVICO_COD='PRGDKTHT2019'
SERVICO_TEXTO='Doação de Kit horta - Convênio 891349/2019 no ano de 2021'
SITUACAO_TEXT='Critérios de priorização: agricultores já trabalhados pela EMATER, que comercializem no PNAE, PAA e Feira livre. 
Priorizando agricultores de baixa renda, e que tradicionalmente plantam hortaliças.'
ORIENTACAO_TEXT='realizar amostra de solo'
RECOMENDACAO_TEXT='abubar essa porra'
SERVICO_OCORRENCIA=''
TEMPLATE_TITTLE='Registros Sementes de milho - Emenda Parlamentar Convênio 891349/2019 '
chamadas = {{chamadas}}
></services-template>
