body{
    background-color: rgb(207, 250, 182);
}

@media(min-width: 576px){
    
}
@media(min-width: 768px){

}
@media(min-width: 576px){

}
@media(min-width: 992px){

}
@media(min-width: 1200px){

}
::ng-deep  .error-snackbar{
    color: #ffffff !important;
    background-color: #cc3333 !important;
}
::ng-deep  .error-snackbar button{
    color: #ffffff !important;
    background-color: #cc3333 !important;
}
::ng-deep  .success-snackbar {
    color: #ffffff !important;
    background-color: #198754 !important;
}
::ng-deep  .success-snackbar button{
    color: #ffffff !important;
    background-color: #198754 !important;
}


