<div class="fields-pesquisa row">
    <div class="col-4 option-search">
        <div class="row d-flex align-itens-center">
            <div class="col-1">
                <button mat-icon-button color="primary" (click)="pesquisar()" aria-label="Pesquisar com estas informações">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="col-5">
                <!-- Infarmação da busca por data-->
                <mat-form-field appearance="fill">
                    <mat-label>Informe o período da pesquisa</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Data inicial">
                        <input matEndDate formControlName="end" placeholder="Data final">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
        
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Data inicial não é válida!</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Data final não é válida</mat-error>
                </mat-form-field>

            </div>
            <!-- Fim Infarmação da busca por data-->
        </div>
    </div>
</div>
<div class="visita" *ngFor="let atendimentos of info">
    <div class="cabecalho row text-light bg-primary">
        <div class="dia col-6">Data da visita: {{atendimentos.dataDaVisita | date: 'dd/MM/yyyy'}}
        </div>
        <div class="local col-6">Local: {{atendimentos.local}}</div>
    </div>
    <div class="corpo row bg-light">
        <div class="servico col-6">
            <div class="" *ngFor="let srv of atendimentos.acoes">
                {{srv.servico}}
            </div>
        </div>
        <div class="produtor-data col-6">
            <div class="row" *ngFor="let prd of atendimentos.produtores">
                <div class="cpf col 3">{{prd.cpf}}</div>
                <div class="nome col-9">{{prd.nome}}</div>
            </div>
        </div>

    </div>
</div>