<div class="row m-2 d-flex justify-content-around">
    <div class="card">
        <img src="../../../../assets/320x200/producao-pec.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Registro de visitas</h5>
            <p class="card-text">Registro de visitas e atendimentos.</p>
            <a href="/visitas/cadastrar" class="btn btn-primary">Registrar visita</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/320x200/tools.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ferramentas do técnico</h5>
            <p class="card-text">Ferramentas desenvolvidas para apoio ao extensionista.</p>
            <a href="#" class="btn btn-primary">Abrir ferramentas</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/320x200/info-producao.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Informa produção</h5>
            <p class="card-text">Registro de produção agropecuária</p>
            <a href="#" class="btn btn-primary">registrar produção</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/320x200/configs.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Configurações</h5>
            <p class="card-text">Aqui você ajusta as opções de configuração do sistema.</p>
            <a href="#" class="btn btn-primary">configurar</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/320x200/servicos.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Serviços</h5>
            <p class="card-text">Alguns serviços disponívies.</p>
            <a href="#" class="btn btn-primary">configurar</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/320x200/reports.png" class="card-img-top m-1" alt="...">
        <div class="card-body">
            <h5 class="card-title">Relatórios</h5>
            <p class="card-text">Relatórios para impressão e visualização</p>
            <a href="#" class="btn btn-primary">Abrir relatórios</a>
        </div>
    </div>
</div>