table {
  width: 100%;
  align-items: center;
  padding: 5%;
}
.btn-acao{
  background-color: transparent;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {

}

.data-prevista{
  width: 10%;
}
.servico{
  width: 20%;;
}
.propriedade-rural{
  width: 15%;
}

.produtor{
  width: 20%;
}
.acoes{
  width: 10%;

}
.pesquisa-input{
  width: 25%;

}
.btn-acoes{
  background-color: transparent;

}