table {
  width: 100%;
  align-items: center;
  padding: 5%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {

}

.data-prevista{
  width: 15%;
}
.servico{
  width: 20%;;
}
.status-call{
  width: 10%;
}
.propriedade{
  width: 20%;
}
.produtor{
  width: 35%;
}
.acoes{
  width: 50%;
}
.pesquisa-input{
  width: 15%;

}