<header-auth></header-auth>
Cálculo da perda de carga com a equação de Hazen–Williams
<main class="d-flex-stretch justify-content-center align-items-center">
    <section>
        <form class="form-horizontal" role="form" [formGroup]="formCalc">
            <label for="tubulacao">Tubulacao</label>
            <select id="tubulacao" class="form-control" formControlName="tubo">
                <option *ngFor='let tb of tubos' [ngValue]="tb">{{tb.descricao}}</option>
            </select>

            <label class="form-label" for="vazao">Vazão (m<sup>3</sup>/h)</label>
            <input type="number" min="1" class="form-control" id="vazao" formControlName="vazao">
            <label class="form-label" for="distancia">Comprimento (m)</label>
            <input type="number" min="1" class="form-control" id="distancia" formControlName="comprimento">
            <label for="saidas">Num. saídas (qtd)</label>
            <input type="number" min="1" max="100" class="form-control" id="saidas" formControlName="qtdSaida">

            <div class="row m-3">
                <button id="calcular" (click)='calcular()' class="btn btn-primary btn-block">Calcular perda de carga</button>
            </div>
            <div id="hman"></div>
        </form>
    </section>
    Perda de Carga: {{_hman | number:'0.2-2'}} mca
    Velocidade: {{_vms | number:'0.2-2'}} m/s
</main>