<div class="container-prefeitura">
    <div class="panel-car">
        <div class="row m-2 d-flex justify-content-around">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Emissão de CAR</h5>
                    <p class="card-text">Emissão de Cadastro ambiental rural</p>
                    <a href="/visitas/cadastrar-car-emissao" class="btn btn-primary">Registrar</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Retificação de CAR</h5>
                    <p class="card-text">Refificar registro de Cadastro ambiental rural</p>
                    <a href="/visitas/cadastrar-car-retificar" class="btn btn-primary">Registrar</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">2º Via de CAR</h5>
                    <p class="card-text">Emissão 2ª via de Cadastro ambiental rural</p>
                    <a href="/visitas/cadastrar-car-segundavia" class="btn btn-primary">Registrar</a>
                </div>
            </div>
        </div>
    </div>
</div>