
.container-prefeitura{

}

.card-body{

}
.card-title{

}
.card-text{

}

.panel-car{

}
div .card{
    width: 18rem;
    margin-bottom: 1rem;
}
img{
    width: 16rem;
    height: 175px;
}
.card{

}
.card:hover{
    
    box-shadow: 5px 10px #888888;
}
div .card{
    width: 18rem;
}